{% extends 'base.html.twig' %}

{% block title %}All Messages{% endblock %}

{% block body_title %}
    <h2 class="mb-4">All Messages</h2>
{% endblock %}

{% block body %}
    <div class="messages_list" style="width: 650px;">
        {% if messages|length > 0 %}
            {% for message in messages %}
                <div class="message_item pb-2 mb-3 border-bottom">
                    <p><strong>Name: </strong>{{ message.name }}</p>
                    <p><strong>Phone: </strong>{{ message.phone }}</p>
                    <p><strong>Email: </strong>{{ message.email }}</p>
                    <p><strong>Text: </strong>{{ message.text }}</p>
                </div>
            {% endfor %}
        {% else %}
            Empty...
        {% endif %}
    </div>
{% endblock %}